section.section.container 
  .features.js-features-tab
    .features__control
      each val in [1,2,3,4]
        button.features__button(type="button" role='tab' aria-selected=val == 1 ? 'true' : 'false' aria-controls=`features-tab-${val}` tabindex="0")
          .features__icon
            svg(width ="40" height="40")
              use(xlink:href="sprite.svg#features_sprite") 

          .features__text
            h2.features__heading Save time on processes
            .features__description-wrapper 
              .features__description
                p.features__description-text  Don't waste time with long discussions and approvals. Describe your ideas and put them to work.
                picture.features__image-mobile.hidden-desktop
                  img(src=require('@/images/features/1.jpg'), alt="")
    .features__content(role="tablist")
      picture.features__tab.features__image(role="tabpanel" aria-expanded="true" aria-hidden="false" id="features-tab-1")
        img(src=require('@/images/features/1.jpg'), alt="")
      picture.features__tab.features__image(role="tabpanel" aria-expanded="false" aria-hidden="true" id="features-tab-2")
        img(src=require('@/images/features/1.jpg'), alt="")
      picture.features__tab.features__image(role="tabpanel" aria-expanded="false" aria-hidden="true" id="features-tab-3")
        img(src=require('@/images/features/1.jpg'), alt="")
      picture.features__tab.features__image(role="tabpanel" aria-expanded="false" aria-hidden="true" id="features-tab-4")
        img(src=require('@/images/features/1.jpg'), alt="")



