section.section.container 
  .features-grid 
    .features-grid__item.features-grid__item--vertical
      .features-grid__text
        h4.features-grid__title Summary of 12 creatives
        p.features-grid__desc Don't let your ADS Creatives get lost in the crowd! Try these four design options to make your ads stand out and grab the attention of your audience. 
      picture.features-grid__image
        source(media="(max-width:768px)", srcset=require('@/images/features-grid/1-m.svg'))
        img(src=require('@/images/features-grid/1.svg'), alt="")
    .features-grid__item
      .features-grid__text 
        h4.features-grid__title 3 creative formats for any social networks
        p.features-grid__desc Are you tired of the same old social media posts? Try shaking things up with these three creative formats.
      picture.features-grid__image
        source(media="(max-width:768px)", srcset=require('@/images/features-grid/2-m.svg'))
        img(src=require('@/images/features-grid/2.svg'), alt="")
    .features-grid__item
      .features-grid__text 
        h4.features-grid__title 4 design options for ADS
        p.features-grid__desc Are you tired of the same old social media posts? Try shaking things up with these three creative formats that are sure to get your content noticed. 
      picture.features-grid__image
        source(media="(max-width:768px)", srcset=require('@/images/features-grid/3-m.svg'))
        img(src=require('@/images/features-grid/3.svg'), alt="")