section.hero-section
  .hero
    picture.hero__grid.container(aria-hidden="true")
      img(src=require('@/images/grid.svg'),  alt="")
    .hero__text
      h1.hero__title Set of
        span.js-counter 12
        | Awesome Custom-designed Creatives for Your ADS- Campaign 
      p.hero__desc Test ideas and increase conversions, we'll take care of the rest
      button.hero__btn.btn.btn--primary(type="button" data-modal="purchase-modal") Purchase now for 119$
    .hero-cards.container
      picture.hero-cards__item.js-show-cards
        img(src=require('@/images/hero-cards/1.jpg'), alt="")
      picture.hero-cards__item.js-show-cards
        img(src=require('@/images/hero-cards/2.jpg'), alt="")
      picture.hero-cards__item.js-show-cards
        img(src=require('@/images/hero-cards/3.jpg'), alt="")
      picture.hero-cards__item.js-show-cards
        img(src=require('@/images/hero-cards/4.jpg'), alt="")