section.section.container 
  - locals.sectionTitle = "Unleashing Creativity:"
  - locals.sectionSubtitle = 'Meet the Minds Behind Our ADS Service';
  - locals.sectionDesc = null
  include ../blocks/section-heading
  .team-grid 
    .team-grid__item 
      picture.team-grid__image 
      .team-grid__info  
        span.team-grid__name  Andrei
        span.team-grid__position Founder & CEO
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
    .team-grid__item 
      picture.team-grid__image 
        img(src=require('@/images/team.jpg'), alt="")
      .team-grid__info  
        span.team-grid__name  Olga
        span.team-grid__position Graphic Designer
